@use './theming/colors' as color;
@use './theming/fonts' as font;
@use './theming/shadows' as shadow;
@use './theming/sizes' as size;
@use './theming/transitions' as transition;
@use './utils/mixins' as mixin;

@mixin selection-styles-scoped() {
    color: color.get(primary-800);
    background: color.get(primary-50);
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

html {
    @include color.generate-color-variables();
    @include font.generate-font-variables();
    @include shadow.generate-shadow-variables();
    @include size.generate-size-variables();
    @include transition.generate-transition-variables();

    font-family: font.family(primary), 'sans-serif';
}

body {
    margin: 0;
    color: color.get(grey-800);

    * {
        -webkit-font-smoothing: antialiased;

        &::selection {
            @include selection-styles-scoped();
        }

        &::-moz-selection {
            @include selection-styles-scoped();
        }
    }

    .link {
        @include mixin.transition-style(extra-fast);

        position: relative;
        text-decoration: none;

        &::after {
            @include mixin.transition-style(
                $name: extra-fast,
                $property: transform
            );
            @include mixin.transform(scale3d(1, 1, 1));

            content: '';
            width: 100%;
            height: size.rem(1);
            position: absolute;
            top: 100%;
            left: 0;
            background-color: currentColor;
            pointer-events: none;
            transform-origin: 0% 50%;
        }

        @include mixin.hover {
            &::after {
                @include mixin.transform(scale3d(0, 1, 1));

                transform-origin: 100% 50%;
            }
        }
    }
}
