@use '../../../../styles/theming/sizes' as size;
@use '../../../../styles/utils/mixins' as mixin;

$name: 'PageBreedNavigation';

.#{ $name } {
    @include mixin.flex($gap: size.rem(28));


    &__button {
        position: relative;
        z-index: 2;
    }
}
