@use '../../../styles/theming/colors' as color;
@use '../../../styles/theming/sizes' as size;
@use '../../../styles/utils/mixins' as mixin;

$name: 'UiInput';

.#{ $name } {
    --border-color: #{color.get(grey-100)};

    &__inner {
        @include mixin.transition-style(extra-fast);
        @include mixin.flex($align-items: unset, $justify-content: flex-start);

        position: relative;
        background-color: color.get(system-base);
        border: solid size.rem(1) var(--border-color);
        outline: solid size.rem(2) transparent;

        @include mixin.hover {
            &:not(&:has(.#{ $name }__element:read-only)) {
                --border-color: #{color.get(grey-500)};
            }
        }

        &:has(.#{ $name }__element:focus) {
            &:not(&:has(.#{ $name }__element:read-only)) {
                outline-color: color.get(primary-100);
            }
        }

        &:has(.#{ $name }__element:read-only) {
            background-color: color.get(grey-25);
        }

        &:has(.#{ $name }__element:disabled) {
            --border-color: #{color.get(grey-400)};

            background-color: color.get(grey-300);

            .#{ $name } {
                &__icon,
                &__text,
                &__element {
                    color: color.get(grey-500);

                    @include mixin.placeholder-style {
                        color: color.get(grey-500);
                    }
                }
            }
        }

        &:has(.#{ $name }__loader) {
            &::after {
                content: '';
                height: 90%;
                aspect-ratio: 1 / 1;
                position: absolute;
                top: 5%;
                right: size.rem(2);
                background-color: color.get(system-base);
                z-index: 2;
            }
        }
    }

    &__icon,
    &__text {
        @include mixin.flex;
        @include mixin.transition-style(extra-fast);

        padding: 0 size.rem(8);
        background: transparent;
        border-color: var(--border-color);
        border-style: solid;
        color: color.get(grey-500);

        &:is(button) {
            cursor: pointer;
        }

        &-element {
            --icon-size: #{size.rem(20)};
        }

        &--leading,
        &--prefix {
            border-width: 0 size.rem(1) 0 0;
        }

        &--trailing,
        &--suffix {
            border-width: 0 0 0 size.rem(1);
        }

        &--clickable {
            cursor: pointer;
        }
    }

    &__element {
        font: inherit;

        @include mixin.font-weight(500);
        @include mixin.transition-style(extra-fast);

        width: 100%;
        flex: 1;
        padding: 0 size.rem(12);
        background-color: transparent;
        border: none;
        outline: none;
        line-height: 1;
        font-size: size.rem(16);

        @include mixin.placeholder-style {
            @include mixin.font-weight(400);
            @include mixin.transition-style(extra-fast);

            color: color.get(grey-300);
            transform-origin: left center;
        }

        @include mixin.focus {
            @include mixin.placeholder-style {
                @include mixin.transform(scale(0.9));

                color: color.get(grey-200);
            }
        }

        &[type='number'] {
            text-align: center;
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            @include mixin.placeholder-style {
                transform-origin: center center;
            }
        }
    }

    &__loader {
        @include mixin.transform(translateY(-50%));

        color: color.get(primary-500);
        position: absolute;
        top: 50%;
        right: size.rem(4);
        z-index: 3;
    }

    &--size {
        &-sm {
            .#{ $name } {
                &__inner {
                    height: size.rem(36);
                    border-radius: size.rem(6);
                }

                &__element {
                    font-size: size.rem(14);
                }
            }
        }

        &-md {
            .#{ $name } {
                &__inner {
                    height: size.rem(40);
                    border-radius: size.rem(8);
                }
            }
        }

        &-lg {
            .#{ $name } {
                &__inner {
                    height: size.rem(44);
                    border-radius: size.rem(10);
                }
            }
        }
    }

    &:has(.#{ $name }__element:disabled) {
        cursor: not-allowed;
    }

    &--state {
        &-danger {
            --border-color: #{color.get(danger-500)};

            .#{ $name } {
                &__icon,
                &__text {
                    color: color.get(danger-500);
                }
            }
        }
    }

    &--is {
        &-skeleton {
            .#{ $name } {
                &__inner {
                    @include mixin.skeleton-loader;

                    pointer-events: none;
                    border-color: transparent;
                }
            }
        }
    }
}
