@use '../../styles/theming/sizes' as size;
@use '../../styles/utils/mixins' as mixin;

$name: 'PageBreed';

.#{ $name } {
    width: 100svw;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-block: 7.5svh;

    @include mixin.max-width(md) {
        padding: 12svh 0 6svh;
    }
}
