@use '../../../../styles/theming/sizes' as size;
@use '../../../../styles/utils/mixins' as mixin;

$name: 'PageBreedImages';

.#{ $name } {
    display: flex;
    align-items: center;
    position: absolute;
    inset: 0;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 2;

    @include mixin.max-width(md) {
        padding-top: 20svh;
    }

    &__loader {
        @include mixin.flex;

        width: 100%;
    }

    &__list {
        width: min-content;
        display: grid;
        grid-auto-columns: 16.65svw;
        grid-auto-flow: column;
        align-items: center;

        @include mixin.max-width(md) {
            grid-auto-columns: 33.3svw;
        }

        &-item {
            position: relative;

            &-image {
                border-radius: size.rem(8);
            }

            &-action {
                position: absolute;
                top: size.rem(4);
                right: size.rem(4);
                z-index: 10;

                &--is {
                    &-favourite {
                        span {
                            --icon-fill: 1;
                        }
                    }
                }
            }

            &:nth-child(3n) {
                .#{ $name } {
                    &__list {
                        &-item {
                            &-image {
                                @include mixin.transform(scale(0.6));

                                border-radius: size.rem(16);
                            }

                            &-action {
                                top: calc(19.5% + #{size.rem(4)});
                                right: calc(20% + #{size.rem(4)});
                            }
                        }
                    }
                }
            }

            &:nth-child(3n - 1) {
                .#{ $name } {
                    &__list {
                        &-item {
                            &-image {
                                @include mixin.transform(
                                    translateX(10%) scale(0.8)
                                );

                                border-radius: size.rem(9);
                            }

                            &-action {
                                top: calc(9.5% + #{size.rem(4)});
                            }
                        }
                    }
                }
            }
        }
    }
}
