@use '../../../../styles/theming/fonts' as font;
@use '../../../../styles/theming/sizes' as size;
@use '../../../../styles/utils/mixins' as mixin;

$name: 'PageBreedDetails';

.#{ $name } {
    @include mixin.flex-column(
        $gap: size.rem(8),
        $align-items: center,
        $justify-content: center
    );

    &__headline {
        @include mixin.flex($gap: size.rem(28));

        @include mixin.max-width(md) {
            flex-direction: column;
            gap: size.rem(20);
            padding-inline: 10svw;
        }
    }

    &__cta {
        position: relative;
        z-index: 3;
    }

    &__title {
        font-family: font.family(secondary), 'sans-serif';
        text-align: center;

        @include mixin.max-width(md) {
            font-size: 7svw;
        }
    }

    &__details {
        @include mixin.flex($gap: size.rem(24));

        @include mixin.max-width(md) {
            flex-direction: column;
            gap: size.rem(4);
            margin-top: size.rem(20)
        }

        b {
            @include mixin.font-weight(600);
        }
    }
}
